<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <context-param>
  	<param-name>vinod</param-name>
  	<param-value>jain</param-value>
  </context-param>
  
  <servlet>
  	<servlet-name>hello</servlet-name>
  	<jsp-file>/test2.jsp</jsp-file>
  	<init-param>
  		<param-name>vinod1</param-name>
  		<param-value>jain1</param-value>
  	</init-param> 
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>hello</servlet-name>
  	<url-pattern>/abc</url-pattern>
  </servlet-mapping>
  
</web-app>